<%= form_with(model: ticket, local: true) do |form| %>
  <%= render 'common/errors', resource: ticket %>

    <div class="field">
      <%= form.label :full_name, 'ФИО' %>
      <%= form.text_field :full_name %>
    </div>

    <div class="field">
      <%= form.label :passport_number, 'Номер паспорта' %>
      <%= form.text_field :passport_number %>
    </div>

    <%= form.hidden_field :user_id, value: '1' %>
    <%= form.hidden_field :train_id %>
    <%= form.hidden_field :from_station_id %>
    <%= form.hidden_field :to_station_id %>

    <div class="actions">
      <%= form.submit 'Подтвердить' %>
    </div>

<% end %>