<%= form_with(model: ticket, local: true) do |form| %>
  <%= render 'common/errors', resource: ticket %>

    <div class="field">
      <%= form.label :full_name, 'ФИО' %>
      <%= form.text_field :full_name %>
    </div>

    <div class="field">
      <%= form.label :passport_number, 'Номер паспорта' %>
      <%= form.text_field :passport_number %>
    </div>

    <div class="field">
      <%= form.label :train_id, 'Номер поезда' %>
      <%= form.text_field :train_id, readonly: true %>
    </div>

    <div class="field">
      <%= form.label :from_station_id, 'Отправление' %>
      <%= form.text_field :from_station_id, readonly: true %>
    </div>

    <%= form.hidden_field :user_id, value: '1' %>

    <div class="actions">
      <%= form.submit 'Подтвердить' %>
    </div>

<% end %>