<%= form_with(model: wagon, local: true) do |form| %>
  <%= render 'common/errors', resource: wagon %>

  <div class="field">
    <%= form.label :comfort_level, 'Тип вагона' %>
    <%= form.select :comfort_level, Wagon::WAGON_TYPE %>
  </div>
  <div class="field">
    <%= form.label :upper_seats, 'Количество верхних мест:' %>
    <%= form.text_field :upper_seats, id: :upper_seats %>
  </div>
  <div class="field">
    <%= form.label :bottom_seats, 'Количество нижних мест:' %>
    <%= form.text_field :bottom_seats, id: :bottom_seats %>
  </div>
  <div class="field">
    <%= form.label :site_top_seats, 'Количество боковых, верхних мест:' %>
    <%= form.text_field :site_top_seats, id: :site_top_seats %>
  </div>
  <div class="field">
    <%= form.label :site_bottom_seats, 'Количество боковых, верхних мест:' %>
    <%= form.text_field :site_bottom_seats, id: :site_bottom_seats %>
  </div>
  <div class="field">
    <%= form.label :sitting_seats, 'Количество сидячих мест:' %>
    <%= form.text_field :sitting_seats, id: :site_bottositting_seatsm_seats %>
  </div>
  <div class="field">
    <%= form.label :train, 'Поезд' %>
    <%= form.collection_select :train_id, Train.all, :id, :number %>
  </div>
  <div class="actions">
    <%= form.submit "#{ wagon.new_record? ? 'Создать' : 'Изменить'}" %>
  </div>
<% end %>
