<p id="notice"><%= notice %></p>

<p>
  <strong>Тип вагона:</strong>
  <%= @wagon.comfort_level %>
</p>
<p>
  <strong>Верхние места:</strong>
  <%= @wagon.upper_seats %>
</p>

<p>
<strong>Нижние места:</strong>
  <%= @wagon.bottom_seats %>
</p>

<p>
<strong>Поезд:</strong>
  <%= @wagon.train.number %>
</p>


<%= link_to 'Редактировать', edit_wagon_path(@wagon) %> |
<%= link_to 'Назад', wagons_path %>
